Debug/
raytracer/RayTracer.xcodeproj/project.xcuserdataworkspace/
raytracer/RayTracer.xcodeproj/xcuserdata/
raytracer/Standard_Tests/*
raytracer/RayTracer.xcodeproj/project.xcworkspace/
libst/xcode/libst.xcodeproj/xcuserdata/
